language: python
python:
  - "2.7"
before_install:
  - pip install coverage codecov
# command to install dependencies
install:
  - pip install -r requirements.txt
  - cp dplace/settings.travis dplace/settings.py
before_script:
  - psql -c 'create database travis_postgis;' -U postgres
  - npm install
# command to run tests
script: 
  - "coverage run --source='dplace_app' manage.py test"
  - npm test
after_success:
  - coverage report -m
  - codecov
