Django==1.9.3
django-appconf==1.0.1
django-bootstrap3==7.0.0
django-filter==0.12.0
djangorestframework==3.3.2
djangorestframework-csv==1.4.1
djangorestframework-gis==0.10.1
ete2==2.3.10
psycopg2==2.6.1
python-nexus==1.34
six==1.10.0
wsgiref==0.1.2
coverage==4.1b2
flake8==2.5.4
