Django==1.9.7
django-appconf==1.0.2
django-bootstrap3==7.0.1
django-filter==0.13.0
djangorestframework==3.3.3
djangorestframework-csv==1.4.1
djangorestframework-gis==0.10.1
ete2==2.3.10
psycopg2==2.6.1
python-nexus==1.35
six==1.10.0
wsgiref==0.1.2
coverage==4.1
flake8==2.6.2
