@font-face {
    font-family: "DPLACE";
    src: url("/static/fonts/GT-Walsheim-Regular.woff");
}
@font-face {
    font-family: "DPLACE";
    src: url("/static/fonts/GT-Walsheim-Bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "DPLACE";
    src: url("/static/fonts/GT-Walsheim-Regular-Oblique.woff");
    font-style: italic;
}
@font-face {
    font-family: "DPLACE";
    src: url("/static/fonts/GT-Walsheim-Bold-Oblique.woff");
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: "DPLACE";
    padding-top: 170px;
    padding-right: 10px;
    padding-left: 10px;
}

a {
    cursor: pointer;
}
.navbar-default {
    background-color: #fff;
    border:solid 0px;
}
.navbar-brand {
    height: 160px;
    margin-right: 20px;
}
.navbar-brand > img {
    max-height: 140%;
    height: 140%;
    width: auto;
    margin: 0 auto;
    margin-top: -15px;
    -o-object-fit: contain;
    object-fit: contain; 
}
.footer {
    background-color: #0a0c0c;
    color: #fff;
    margin-top: 75px;
    margin-right: 1%;
    margin-left: 1%;
    width:98%;
}
.footer a {
    text-decoration: none;
    color: #fff;
}
.navicon {
    height: 50px;
    width: 50px;
    opacity: 0.3;
}
.homeActive {
    background-color: red;
}
.searchActive {
    background-color: #f6a523;
}
.societiesActive {
    background-color: #e8552a;
}
.sourceInfoActive {
    background-color: #50b79c;
}
.aboutActive {
    background-color: #074652;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    text-align: center;
    width: 130px;
    height: 90px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover .navicon,
.navbar-default .navbar-nav > .active .navicon {
    opacity:1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
}

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
    padding: 2px;
}

.tree-tooltip {
    position:absolute;
    text-align:center;
    width:auto;
    height:auto;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    font-size:13px;
    background:#E0E0E0;
    border:0px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.comment-tooltip, .source-link {
    cursor:pointer;
}

.source-link, .val-sources {
    font-size: 12.5px;
}

.val-sources {
    padding-top: 5px;
    padding-left: 10px;
}

.row-margin-top {
    margin-top: 5px;
}

.indent1 {
    text-indent: 1rem;
}

.indent2 {
    text-indent: 2rem;
}

.indent3 {
    text-indent: 3rem;
}

.indent4 {
    text-indent: 4rem;
}

.scrollable {
    overflow-x: scroll;
    height: 32rem;
}

label.light {
    font-weight: normal;
}

.search-help {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 1.5rem;
}

.variable-label {
    text-align: right;
}

.variable-description {
    text-align: left;
    padding-left: 1rem;
}

.triangle-right:before {
    content: "\25B6";
}

.triangle-down:before {
    content: "\25BC";
}

.triangle-right, .triangle-down {
    cursor: pointer; cursor: hand;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; cursor: hand;
}

.basic-search {
    float: none;
    margin: 0 auto;
}

.basic-search-forms {
    margin-top: 2rem;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    width: 16px;
    height: 16px;
}

.region {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.region-remove {
    cursor: hand;
}

.map-legend {
    position: absolute;
    margin-top: -290px;
    margin-left: 800px;
}

.circle {
    border-radius: 50%;
    border: 1px solid darkgray;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
}

.var-labels-fixed {
    position: fixed;
    top: 160px;
}

.teamTABLE {
    width:100%;
}

.teamImgTD {
    padding-right:10px;
    padding-bottom:10px;
}

.leftParaTab {
    float: left;
    position: relative;
    margin-left:10px;
    margin-right:10px;
}

.rightParaTab {
    float: right;
    position: relative;
    margin-left:10px;
    margin-right:10px;
}

.radioicon {
    height: 90px;
    width: 90px;
}

.btn.radioBack {
    margin-bottom: 0;
    color:#000;
    font-size:120%;
    font-weight:normal;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    vertical-align:middle;
    opacity:0.8; 
    background-position:0px -25px;
}

.btn.radioPlaces {
    background-image: url(/static/images/Places_Pattern.jpg);
}

.btn.radioEnv {
    background-image: url(/static/images/Env_Pattern.jpg);
}

.btn.radioCulture {
    background-image: url(/static/images/Culture_Pattern.jpg);
}

.btn.radioLanguage {
    background-image: url(/static/images/Language_Pattern.jpg);
}

.btn.radioBack:hover,
.btn.radioBack:focus {
    text-decoration: none;
    color:#fff;
    opacity:1.0;
}

.btn.radioBack:active,
.btn.radioBack.active {
    opacity:1.0; 
    color:#fff;
}

.btn.radioPlaces:active:before,
.btn.radioPlaces.active:before {
    content: '';
    position: absolute;
    left: 42%;
    top: 102%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #074652;
}

.btn.radioEnv:active:before,
.btn.radioEnv.active:before {
    content: '';
    position: absolute;
    left: 42%;
    top: 102%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #50b79c;
}

.btn.radioCulture:active:before,
.btn.radioCulture.active:before {
    content: '';
    position: absolute;
    left: 42%;
    top: 102%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e8552a;
}

.btn.radioLanguage:active:before,
.btn.radioLanguage.active:before {
    content: '';
    position: absolute;
    left: 42%;
    top: 102%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f6a523;
}

.radiolead {
    color:#000;
    font-size:110%;
    text-align: left;
    margin-top:8px;
    margin-bottom:10px;
}

.radioLabel {
    line-height:40px;
}

.btn .badge {
    margin-left:-4px;
    top:-60px !important;
}
