<div class="">
  <div class="container">
    <div class="row about header">
      <h3>
        About D-PLACE
      </h3>
      <p>
        D-PLACE is a Database of Phylogenies of Languages for the study of Cultural Evolution.
      </p>
    </div>
    <div class="row about source-code">
      <h3>
        Source Code
      </h3>
      <p>
        D-PLACE is open source software. Source code is available on <a href="https://github.com/NESCent/dplace">GitHub</a> under an <a href="https://github.com/NESCent/dplace/blob/master/LICENSE">MIT License</a>. 
      </p>
      <p>
        D-PLACE uses <a href="http://travis-ci.org"> Travis CI </a> for continuous integration. Automated tests are run with each commit to the repository, build status is reported at <a href="https://travis-ci.org/NESCent/dplace">travis-ci.org/NESCent/dplace</a>. 
      </p>
      <p>
        Please report issues using the <a href="https://github.com/NESCent/dplace/issues"> GitHub Issue Tracker</a>.
      </p>
    </div>
    <div class="row about technology">
      <h3>
        Technology
      </h3>
      <div class="col-md-6">
        <h4>
          Core Components
        </h4>
        <dl class="dl-horizontal">
          <dt> Web Frameworks </dt>
          <dd> <a href="https://www.djangoproject.com"> Django </a> + <a href="http://geodjango.org"> GeoDjango </a> </dd>
          <dd> <a href="http://www.django-rest-framework.org"> Django REST framework </a> + <a href="https://github.com/djangonauts/django-rest-framework-gis"> gis </a></dd>
          <dd> <a href="https://angularjs.org"> AngularJS </a> </dd>
          <dd> <a href="http://getbootstrap.com"> Bootstrap </a> </dd>
          <dt> Relational Database </dt>
          <dd> <a href="http://www.postgresql.org"> PostgreSQL </a> + <a href="http://postgis.net"> PostGIS </a></dd>
          <dt> Languages </dt>
          <dd> <a href="https://python.org"> Python </a> </dd>
          <dd> JavaScript </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <h4>
          Additional Libraries
        </h4>
        <dl class="dl-horizontal">
          <dt> Database Migrations </dt>
          <dd> <a href="http://south.readthedocs.org"> South </a> </dd>
          <dt> Interactive Maps </dt>
          <dd> <a href="http://jvectormap.com"> jVectorMap </a> </dd>
          <dt> AngularJS Components </dt>
          <dd> <a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a> </dd>
        </dl>
      </div>
    </div>
    <div class="row about credits">
      <h3>
        Credits
      </h3>
      <p>
        Content and requirements:
      </p>
      <ul>
        <li><a href="http://www.nescent.org/science/awards_summary.php?id=400">Explaining cultural diversity: A new evolutionary synthesis - NESCent Working Group</a>, Michael Gavin (Colorado State University), Simon Greenhill (Australian National University), Fiona Jordan (University of Bristol), Russell Gray (The University of Auckland)</li>
      </ul>
      <p>
        Application Development:
      </p>
      <ul>
        <li><a href="https://github.com/dleehr">Dan Leehr</a> (NESCent)</li>
        <li><a href="http://simon.net.nz">Simon Greenhill</a> (Australian National University)</li>
      </ul>
    </div>
    <div class="row about publications">
      <h3>
        Publications
      </h3>
    </div>
    <div class="row about contact">
      <h3>
        Contact
      </h3>
      <p>
        D-PLACE is a project of
      <address><a href="http://nescent.org">National Evolutionary Synthesis Center (NESCent)</a><br>
      2024 W. Main Street, Suite A200<br>
      Durham, NC 27705-4667<br>
      <abbr title="Phone">P:</abbr> (919) 668-4551<br>
      <abbr title="Fax">F:</abbr> (919) 668-4551 </address>
    </div>
  </div>
</div>
