<!-- <div> -->
	<div class="container">
		<center>
		<div style="margin-top:-60px">
			<a href="/about"><img width="35%" title="ABOUT" src="/static/images/D-PLACE_Logo.png" /></a>
		</div>
		<div class="homeTitle">
			<span class-"collapse navbar-collapse pull-left">Database of Places, Language, </span>
			<span class-"collapse navbar-collapse pull-right">Culture and Environment</span>
		</div>
		<div style="margin-top:20px">
			<table>
				<tr>
					<td style="text-align:center;"><a href="http://shh.mpg.de/en" target="_blank" title="Max Planck Institute for the Science of Human History, Jena/Germany"><img src="/static/images/mpg_logo.svg" width="100" /></a></td>
					
					<td style="padding-right:2cm">&nbsp;</td>
					<td valign="bottom"><a href="http://nescent.org" target="_blank" title="National Evolutionary Synthesis Center, Durham,NC/USA"><img src="/static/images/nescent.png" width="220" /></a></td>
					</tr><tr>
                    <td style="min-width:120px">
						<center>
							<a href="http://shh.mpg.de/en" target="_blank">Max Planck Institute<br />for the Science of Human History<br />(MPI SHH)</a>
						</center>
					</td>
                    					<td style="padding-right:2cm">&nbsp;</td>

                <td style="min-width:120px">
						<center>
							<a href="http://nescent.org" target="_blank">National Evolutionary<br />Synthesis Center<br />(NESCent)</a>
						</center>
					</td>
				</tr>
			</table>
		</div>
		</center>
	</div>
<!-- </div> -->

