<div class="basic-search col-md-6">
    <div class="basic-search-buttons btn-group">
        <button ng-repeat="button in buttons"
                type="button" class="btn btn-lg btn-default"
                ng-model="selectedButton"
                ng-click="buttonChanged(button.value)"
                btn-radio="button.value"
                >{{ button.name }}</button>
    </div>
    <div class="row basic-search-forms">
        <div ng-show="selectedButton == 'geographic'">
            <h4>Search by Geographic Region</h4>
            <input
                type="text"
                ng-model="geographic_region"
                typeahead="region for region in regions | filter:$viewValue | limitTo: 8"
                class="form-control">
            <!-- map -->
        </div>
        <div ng-show="selectedButton == 'cultural'">
            <h4>Search by Cultural Trait</h4>
            <form class="form-inline" role="form" ng-repeat="trait in traits">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group col-md-10">
                            <select
                                    ng-model="trait.selectedVariableId"
                                    class="form-control"
                                    ng-change="traitChanged(trait)">
                                <option ng-repeat="variable in trait.variables"
                                        value="{{ variable.id }}">
                                    {{ variable.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-default form-control">Clear</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="code in trait.codes">
                            <span class="variable-label pull-left">{{ code.code }}:</span>
                            <span class="variable-description">{{ code.description }}</span>
                            <input class="pull-right" type="checkbox" ng-model="code.isSelected"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="selectedButton == 'environmental'">
            <h4>Search by Environmental Data</h4>
        </div>
        <div ng-show="selectedButton == 'language'">
            <h4>Search by Language Family / Phylogeny</h4>
        </div>
    </div>
</div>