<ng-include src="'/static/partials/navbar.html'"></ng-include>
<div class="row">
    <div class="family col-md-5">
        <div class="row">
            <span>
                <p class="pull-left lead">Search Criteria</p>
                <a class="pull-right btn btn-primary" href="" ng-click="clearAll()">Clear All</a>
            </span>
        </div>
        <!-- Language Families -->
        <div class="row panel panel-default language_families">
            <div class="panel-heading">
                <input ng-model="family_filter" class="form-control" placeholder="Filter Language Families" />
            </div>
            <div class="panel-body scrollable">
                    <div ng-repeat="family in families | filter:family_filter">
                        <span ng-click="toggleShowChildren(family)" ng-class="{'triangle-down' : family.isShowingChildren, 'triangle-right' : !family.isShowingChildren }">
                            {{ family.name }}
                        </span>
                        <input class="pull-right" type="checkbox" ng-model="family.isSelected" ng-change="updateFamilySelected(family)"/>
                        <div ng-show="family.isShowingChildren" class="indent1">
                                <div ng-repeat="subfamily in family.children">
                                    <span ng-click="toggleShowChildren(subfamily)" ng-class="{'triangle-down' : subfamily.isShowingChildren, 'triangle-right' : !subfamily.isShowingChildren }">
                                        {{ subfamily.name }}
                                    </span>
                                    <input class="pull-right" type="checkbox" ng-model="subfamily.isSelected" ng-change="updateFamilySelected(subfamily, family)"/>
                                <div ng-show="subfamily.isShowingChildren" class="indent3">
                                    <div ng-repeat="subsubfamily in subfamily.children">
                                        {{ subsubfamily.name }}&nbsp;
                                        <input class="pull-right" type="checkbox" ng-model="subsubfamily.isSelected" ng-change="updateFamilySelected(subsubfamily, subfamily, family)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row panel panel-default ea_variables">
            <div class="panel-heading">
                <input ng-model="eaFilter" class="form-control" placeholder="Filter Ethnographic Atlas Variables" />
            </div>
            <div class="panel-body scrollable">
                <div ng-repeat="eaVariable in eaVariables | filter:eaFilter">
                    <span ng-click="toggleShowEACodes(eaVariable)" ng-class="{'triangle-down': eaVariable.isShowingCodes, 'triangle-right': !eaVariable.isShowingCodes}">
                        <span class="ea-number">{{ eaVariable.number }}:</span>
                        <span class="ea-description">{{ eaVariable.name }}</span>
                    </span>
                    <div ng-show="eaVariable.isShowingCodes" class="indent3">
                        <div ng-repeat="code in eaVariable.codes">
                            <span class="ea-number pull-left">{{ code.code }}:</span>
                            <span class="ea-description">{{ code.description }}</span>
                            <input class="pull-right" type="checkbox" ng-model="code.isSelected" ng-change="updateCodeSelected(code)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="results col-md-6">
        <div class="row">
            <span>
                <p class="pull-left lead">Societies <span ng-show="societies.length">({{ societies.length }})</span></p>
                <a class="pull-right btn btn-primary" href="" ng-click="getSocieties()">Get Societies</a>
            </span>
        </div>
        <tabset>
            <tab heading="Table">
                <div class="row">
                    <div ng-hide="societies.length">
                        <p class="text-center help-block search-help">Choose one or more language families, then click <strong>Get Societies</strong>.</p>
                    </div>
                    <table class="table" ng-show="societies.length">
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th>ISO Code</th>
                            <th>Location</th>
                        </tr>
                        <tr ng-repeat="society in societies">
                            <td><a ng-href="/society/{{ society.id }}" target="_blank">{{ society.name }}</a></td>
                            <td>{{ society.ext_id }}</td>
                            <td>{{ society.iso_code }}</td>
                            <td>{{ society.location.coordinates }}</td>
                        </tr>
                    </table>
                </div>
            </tab>
            <tab heading="Map">
                <ng-include src="'/static/partials/map.html'"></ng-include>
            </tab>
        </tabset>
    </div>

</div>