<div class="container">
<h1>Search By Society Name: {{ searchModel.societyQuery }}</h1>
<table ng-show="searchModel.results.societies.length > 0" class="table">
<tr>
    <th>Dataset</th>
    <th>Name (Society ID)</th>
</tr>
<tr ng-repeat="society in searchModel.results.societies">
    <td> {{ society.source.name }}</td>
    <td> <a href="/society/{{ society.ext_id}}" target="_blank">{{society.name }} ({{society.ext_id}})</a></td>
</tr>
</table>
<div ng-show="searchModel.results.societies.length == 0">
    <p style="margin:20px;">No societies found.</p>
    </div>
</div>