<div class="">
    <div class="container">
        <p class="lead">Search for societies by selecting a mode:</p>
        <div class="row text-center">
            <div class="btn-group">
                <button ng-repeat="button in buttons"
                        type="button" class="btn btn-lg btn-default btn-dplace-search"
                        ng-model="selectedButton"
                        ng-click="buttonChanged(button)"
                        btn-radio="button"
                        >{{ button.name }}</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row basic-search-forms">
        <div ng-if="selectedButton.value">
            <ng-include src="'/static/partials/search/' +  selectedButton.value + '.html'"></ng-include>
        </div>
    </div>
</div>
