<div class="container results">
    <div class="row">
        <span>
            <p class="pull-left lead">Societies <span ng-show="results.societies.length">({{ results.societies.length }})</span></p>
        </span>
    </div>
    <tabset>
        <tab heading="Table">
            <div class="row">
                <div ng-hide="results.societies.length">
                    <p class="text-center help-block search-help"></p>
                </div>
                <table class="table" ng-show="results.societies.length">
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>ISO Code</th>
                        <th>Location</th>
                        <th>Data</th>
                    </tr>
                    <tr ng-repeat="society_result in results.societies">
                        <td><a ng-href="/society/{{ society_result.society.id }}" target="_blank">{{ society_result.society.name }}</a></td>
                        <td>{{ society_result.society.ext_id }}</td>
                        <td>{{ society_result.society.iso_code }}</td>
                        <td>{{ society_result.society.location.coordinates }}</td>
                        <td>
                            {{ society_result.variable_coded_values | formatVariableCodeValues }}
                            {{ society_result.environmental_values | formatEnvironmentalValues }}
                            {{ society_result.language_classifications | formatLanguageClassifications }}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Map">
            <ng-include src="'/static/partials/map.html'"></ng-include>
        </tab>
    </tabset>
</div>