<div class="">
  <div class="container">
    <div class="row about header">
      <h2>
        Database Content
      </h2>
        <div class="introduction">
        <p>
            To date, D-PLACE includes cultural data from two major cross-cultural databases: the Ethnographic Atlas (Murdock 1967; Gray 1999b) and Lewis Binford’s Hunter-Gatherer dataset (Binford 2001). Individual records in each database represent a “society,” or group of people with a shared cultural identity at a focal time and place. Societies are described by a set of coded variables that characterize cultural traits shared by the group, such as prevalent marriage system, subsistence economy, political structure, and house design. The variables range in their inference certainty from high (e.g., house shape) to lower (e.g., belief in high gods; Whiting 1981; Burton and White 1987). 
        </p>
        <p>
            For each society, the focal “place” to which cultural data refer is given by a set of geographic coordinates (Gray 1999b; Binford 2001). These coordinates were used in the process of linking each society to a language, and provided the basis for the extraction of environmental and climate data for each society. The coordinates also provide the basis for map-based analyses in D-PLACE. In the following sections, we describe each of the component cultural databases and the methods used to incorporate it into D-PLACE. 
        </p>
        </div>
        <div class="aboutEA">
            <h4>
                Ethnographic Atlas database
            </h4>
            <p>
                In total, we included coded data based on the Ethnographic Atlas (EA) database for 1294 societies, ranging from small hunter-gatherer groups to societies with complex agricultural economies and political systems. The societies are globally distributed with especially good coverage of Africa and western North America (fig. 1). The ‘focal year,’ i.e., the time period to which the cultural data refer, is between 1900 and 1950 for 68% of the 1294 EA societies. Of the remaining societies, 2% have a focal year after 1950, 25% in the 19th century, 4% before 1799, and 1% are missing a focal year. 
            </p>
            <p> 
                The data are based on published work that was summarized in twenty-one installments in the journal Ethnology by George P. Murdock (Murdock 1962-1966, 1967, 1968, 1971). Three decades later, corrections to the original data and codes were compiled and published by J. Patrick Gray (1999a,b). This ‘Corrected Ethnographic Atlas’ includes 1267 societies and 112 cultural variables and is available for public download as a single, flat file together with a detailed codebook (Gray 1999b).  
            </p>
            <p>
                To the Gray (1999b) database, we have added 27 societies in Eurasia for which cultural data were recently coded according to Murdock (1967; Korotayev et al. 2004; Bondarenko et al. 2005). We converted the codes for the data for these 27 societies to match those used by Gray (1999c). In doing so we have eliminated or condensed variables that split a single piece of information (e.g., society name, or year of data collection) over multiple fields (variables 100-111, 114-115). We have also omitted variables that D-PLACE is explicitly designed to improve upon, including variables describing region (91, 92), climate (95, 96), and linguistic affiliation (97-99). Interested users can access these variables through the original publications using links provided in the reference section (Gray 1999b).
            </p>
        </div>
        <div class="aboutBinford">
            <h4>
                Binford database
            </h4>
            <p>
                The Binford database includes coded cultural data for 339 hunter-gatherer societies (Binford 2001). According to Binford (2001: 130), the sample includes “all hunter gatherer groups known to exist during colonial and more recent era […] that were described with sufficient detail to be included in a comparative analysis.” The database includes approximately X ethnographic variables, some of which overlap with those of the EA  (e.g., subsistence economy, marriage system), and others that are distinct (e.g., social group size, mobility). Approximately 60% of the Binford societies are also in the EA. Relative to the EA, the Binford database includes many more societies in Australia and in northern of North America (fig. 2). 
            </p>
            <p>
                We include in D-PLACE data from tables in Binford (2001) that summarize cultural data for the societies in his sample (tables 5.01, 6.03, 8.01, 8.04, 8.07, 8.08 and 9.01). Although environmental data are provided for each society, we retain only those variables that describe the societies themselves, as one of the goals of D-PLACE is to provide harmonized, high-quality environmental data for each society in the database. 
            </p>
        </div>
    </div>
  </div>
</div>
