<div class="">
  <div class="container">
    <div class="row about header">
      <h2>
        How-To
      </h2>
    </div>
    <p>
    D-PLACE allows interested users to simultaneously consider how cultural practices relate to linguistic ancestry, practices of neighbouring cultures, and the environment. D-PLACE makes visualizing these relationships easy, either via a map or a linguistic tree.
    Eventually, this page will include detailed tutorials on how to use D-PLACE. In the meantime, we encourage users to begin with the “Search” tab, and to explore the available data.
    The examples below show two cultural variables in D-PLACE, “Dependence on fishing” and “Transactions at marriage” displayed on a global language taxonomy (a, c) and map (b, d). 
    Panels a and b show a society’s dependence on fishing relative to other subsistence activities, based on data from both the Ethnographic Atlas (Murdock 1961-1967) and the Binford Hunter-Gatherer dataset (Binford 2001). Data for Pama-Nyungan societies are highlighted on both the global tree and the map (black boxes and magnified section of taxonomy). 
    Panels c and d show the most common type of transaction at marriage, based on data from the Ethnographic Atlas (Murdock 1961-1967), with data for Sino-Tibetan societies highlighted on both the global tree and the map (black boxes and magnified section of taxonomy).
    </p>
    <center>
        <img src="/static/images/howto01.png" width="50%" />
    </center>
  </div>
</div>
