<div class="container">
    <h4>Search by Cultural Trait</h4>
    <form class="form-inline" role="form">
        <select
                ng-model="selectedVariable"
                class="form-control"
                style="width:100%"
                ng-options="variable.name for variable in cultureVariables"
                ng-change="varChanged()"
                >
                <option value="">Select a Variable</option>
        </select>
        <h4> or Search by Environmental Variable</h4>
        <select
                ng-model="selectedEnvVariable"
                class="form-control"
                style="width:100%"
                ng-options="variable.name for variable in environmentalVariables"
                ng-change="envVarChanged()"
                >
                <option value="">Select a Variable</option>
        </select>
        
        <div>
            <button class="btn btn-primary form-control" ng-disabled="searchButton.disabled" ng-click="doSearch()" style="margin-top:10px;">{{searchButton.text}}</button>
        </div>
    </form>
    <div>
        <button ng-show="languageTrees.trees.length > 0" ng-click="download()" class="btn btn-info btn-dplace-download"> Download Trees </button>
    </div>
    <table id="legend">
        <tr  ng-repeat="t in trait"><td><svg height="20" width="20"><circle cx="10" cy="10" r="4.5" fill="{{t.code|colorNode:trait}}" stroke="#000" stroke-width="0.5"/></svg></td>
        <td>{{t.description}}</td></tr>
    </table>
    <div id="trees">
    </div>
    <div id="downloadLinks"></div>
</div>
