<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'How to cite – D-PLACE';
    });
</script>

<div class="">
  <div class="container">
    <div class="row about header">
      <h2>
        How to cite
      </h2>
      <p>Research that uses data from D-PLACE should cite the following paper:</p>
      <p style="margin-left:20px; width:1000px;"><b>Kathryn R. Kirby</b>, Russell D. Gray, Simon J. Greenhill, Fiona M. Jordan, Stephanie Gomes-Ng, Hans-Jörg Bibiko, Damián E. Blasi, Carlos A. Botero, Claire Bowern, Carol R. Ember, Dan Leehr, Bobbi S. Low, Joe McCarter, William Divale, and Michael C. Gavin. (2016). D-PLACE: A Global Database of Cultural, Linguistic and Environmental Diversity. PLoS ONE. in press.</p>
      <p>Short version:</p>
      <p style="margin-left:20px;"><b>Kirby, K.R.</b> et al. (2016). D-PLACE: A Global Database of Cultural, Linguistic and Environmental Diversity. PLoS ONE, in press.</p>
    <p>Users should also cite the original source(s) of the data (see <a href="/source" target="_blank">References</a>).</p>
    <p>Research using cultural data from the Binford Hunter-Gatherer dataset should cite Binford (2001) and Binford and Johnson (2006). </p>
    <p>Research using cultural data from the Ethnographic Atlas dataset should cite Murdock (1967) and Gray (2001). </p>
    <p>The reference list citation for Kirby et al. should include the date that data were accessed and the URL for D-PLACE (<a href="https://d-place.org">https://d-place.org</a>), in addition to the full references as above.</p>
    </div>
  </div>
</div>
