<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Publications – D-PLACE';
    });
</script>

<div class="">
  <div class="container">
    <div class="row about header">
      <h2>
        Publications
      </h2>
    </div>
    <ul>
        <li>
            Kirby, K.R., Gray, R. D., Greenhill, S. J., Jordan, F. M., Gomes-Ng, S., Bibiko, H-J, et al. (2016). D-PLACE: <em>A Global Database of Cultural, Linguistic and Environmental Diversity</em>. PLoS ONE, 11(7): e0158391. doi:<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0158391" target="_new">10.1371/journal.pone.0158391.</a>
        </li>
        <li>
            Botero, C. A., Gardner, B., Kirby, K. R., Bulbulia, J., Gavin, M. C., &amp; Gray, R. D. (2014). The ecology of religious beliefs. <em>Proceedings of the National Academy of Sciences</em>, 111(47), 16784-16789.
        </li>
    </ul>
  </div>
</div>
