<div class="">
  <div class="container">
    <div class="row about header">
      <h2>
        The Team
      </h2>
    </div>
    <div class="leftParaTab">
        <table>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_bibiko.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Hans-Jörg Bibiko</b><br><a href="http://www.shh.mpg.de/people?c=25522&employee_id=42541" target="_blank">http://www.shh.mpg.de/people?c=25522&employee_id=42541</a><br>
                <a href="http://www.bibiko.de">http://www.bibiko.de</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_blasi.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Damian Blasí</b><br><a href="https://sites.google.com/site/damianblasi/" target="_blank">https://sites.google.com/site/damianblasi/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_botero.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Carlos Botero</b><br><a href="http://cabotero.weebly.com/" target="_blank">http://cabotero.weebly.com/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_bowern.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Claire Bowern</b><br><a href="http://ling.yale.edu/people/claire-bowern" target="_blank">http://ling.yale.edu/people/claire-bowern</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_ember.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Carol Ember</b><br><a href="http://hraf.yale.edu/about/staff/carol-r-ember/" target="_blank">http://hraf.yale.edu/about/staff/carol-r-ember/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_gavin.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Michael Gavin</b><br><a href="http://www.michaelcgavin.com" target="_blank">http://www.michaelcgavin.com</a></td>
            </tr>
             <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_ng.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Stephanie Gomes-Ng</b></td>
            </tr>
        </table>
    </div>
    <div class="rightParaTab">
        <table>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_gray.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Russell Gray</b><br><a href="http://www.shh.mpg.de/2923/russellgray" target="_blank">http://www.shh.mpg.de/2923/russellgray</a><br>
                    <a href="http://www.psych.auckland.ac.nz/people/rd-gray" target="_blank">http://www.psych.auckland.ac.nz/people/rd-gray</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_greenhill.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Simon Greenhill</b><br><a href="https://researchers.anu.edu.au/researchers/greenhill-s" target="_blank">https://researchers.anu.edu.au/researchers/greenhill-s</a><br>
                    <a href="http://simon.net.nz/" target="_blank">http://simon.net.nz/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_jordan.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Fiona Jordan</b><br><a href="http://www.bristol.ac.uk/school-of-arts/people/fiona-m-jordan/" target="_blank">http://www.bristol.ac.uk/school-of-arts/people/fiona-m-jordan/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_kirby.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Kate Kirby</b><br><a href="http://krkirby.wordpress.com/" target="_blank">http://krkirby.wordpress.com/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_leehr.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Dan Leehr</b></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_low.png" height="100px" /></td>
                <td class="teamLinkTD"><b>Bobbi Low</b><br><a href="http://snre.umich.edu/profile/bobbilow" target="_blank">http://snre.umich.edu/profile/bobbilow</a></td>
            </tr>
        </table>
    </div>
  </div>
</div>
