<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Team – D-PLACE';
    });
</script>

  <div class="container">
    <div class="row about header">
      <h2>
        The Team
      </h2>
    </div>
    <div class="leftParaTab">
        <table>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_bibiko.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Hans-Jörg Bibiko</b><br><a href="http://www.shh.mpg.de/employees/42541/55811" target="_blank">www.shh.mpg.de/employees/42541/55811</a><br/>
                <a target="_blank" href="http://www.bibiko.de">www.bibiko.de</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_blasi.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Damián Blasi</b><br><a href="https://sites.google.com/site/damianblasi/" target="_blank">sites.google.com/site/damianblasi/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_botero.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Carlos Botero</b><br><a href="https://pages.wustl.edu/botero" target="_blank">pages.wustl.edu/botero</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_bowern.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Claire Bowern</b><br><a href="http://ling.yale.edu/people/claire-bowern" target="_blank">ling.yale.edu/people/claire-bowern</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_ember.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Carol Ember</b><br><a href="http://hraf.yale.edu/about/staff/carol-r-ember/" target="_blank">hraf.yale.edu/about/staff/carol-r-ember/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_forkel.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Robert Forkel</b><br><a href="http://www.shh.mpg.de/employees/45369/55811" target="_blank">www.shh.mpg.de/employees/45369/55811</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_gavin.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Michael Gavin</b><br><a href="http://www.michaelcgavin.com" target="_blank">www.michaelcgavin.com</a></td>
            </tr>
        </table>
    </div>
    <div class="rightParaTab">
        <table>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_ng.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Stephanie Gomes-Ng</b></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_gray.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Russell Gray</b><br><a href="http://www.shh.mpg.de/2923/russellgray" target="_blank">www.shh.mpg.de/2923/russellgray</a><br>
                    <a href="http://www.psych.auckland.ac.nz/people/rd-gray" target="_blank">www.psych.auckland.ac.nz/people/rd-gray</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_greenhill.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Simon Greenhill</b><br><a href="https://researchers.anu.edu.au/researchers/greenhill-s" target="_blank">researchers.anu.edu.au/researchers/greenhill-s</a><br>
                    <a href="http://simon.net.nz/" target="_blank">simon.net.nz/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_jordan.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Fiona Jordan</b><br><a href="http://www.bristol.ac.uk/school-of-arts/people/fiona-m-jordan/" target="_blank">www.bristol.ac.uk/school-of-arts/<br>people/fiona-m-jordan/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_kirby.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Kate Kirby</b><br><a href="http://krkirby.wordpress.com/" target="_blank">krkirby.wordpress.com/</a></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_leehr.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Dan Leehr</b></td>
            </tr>
            <tr class="teamTR">
                <td class="teamImgTD"><img src="/static/images/team_low.jpg" height="100px" /></td>
                <td class="teamLinkTD"><b>Bobbi Low</b><br><a href="http://snre.umich.edu/profile/bobbilow" target="_blank">snre.umich.edu/profile/bobbilow</a></td>
            </tr>
        </table>
    </div>
  </div>

