<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Search by Cultural Trait – D-PLACE';
    });
</script>

<div ng-controller="CulturalCtrl"> 
    <span class="form-inline clearfix">
        <h4 class="pull-left">Search by Cultural Trait</h4>
       <div class="pull-right">
        <span ng-show="count > 0 && !errors" style="padding-right:5mm !important" ng-class="{'text-danger': count > 4}">Number of variables selected: {{ count }}</span>
            <button class="btn btn-primary form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="doSearch()">{{ searchButton.text }}
            </button>
            <button class="btn btn-danger form-control"
                        ng-click="resetSearch()">Reset
            </button>
            <span class="alert alert-danger" ng-show="errors">
                {{ errors }}
            </span> 
        </div>
    </span>
    <h5 style="padding-left: 5mm !important; line-height:10px;">Note: Search is limited to 4 cultural variables maximum</h5>
    <form class="form-inline" role="form" style="margin-top:20px;">
        <div class="panel panel-default" ng-repeat="trait in traits">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-group col-xs-3">
                        <select
                            ng-model="trait.selectedSource"
                            class="form-control"
                            ng-change="sourceChanged(trait)"
                            ng-options='source as (source.name) for source in trait.sources'
                            >
                            <option value="">Select a Source</option>
                        </select>
                     </div>
                     <div class="form-group col-xs-8">
                        <div style="padding-left:5mm !important"><small>Choose a cross-cultural dataset to begin your search.<br />For more information, see “<a target="_new" href="/source">Data Sources</a>” under the “Info” menu.</small></div>
                     </div>
                 </div>
                <div class="row row-margin-top" ng-show="trait.selectedSource">
                    <div class="form-group col-xs-6">
                        <select
                                ng-model="trait.selectedCategory"
                                class="form-control"
                                style="width:100%"
                                ng-change="categoryChanged(trait)"
                                ng-show="trait.source_categories.length > 0"
                                ng-options="category.name for category in trait.source_categories"
                                >
                            <option value="">Select a Category</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <select
                                ng-model="trait.selectedVariable"
                                class="form-control"
                                style="width:100%"
                                ng-change="traitChanged(trait)"
								ng-show="trait.indexVariables.length > 0"
                                ng-options='variable as (variable.label + " - " + variable.name) for variable in trait.indexVariables'
                                >
                            <option value="">Select a Variable</option>
                        </select>
                    </div>
                </div>
                <div ng-show="trait.codes.length > 0">Further Information: {{trait.selectedVariable.codebook_info}}</div>
            </div>
			
	
            <div class="panel-body scrollable">
                <span class="variable-label" ng-show="trait.codes.length > 1"> Select All
				<input type="checkbox" class="pull-left" ng-model="trait.selected[trait.selectedVariable.id].allSelected" ng-change="selectAllChanged(trait)" />
              </span>
				<div ng-repeat="code in trait.codes">
                    <input type="checkbox" class="pull-left" ng-model="code.isSelected" ng-change="traitCodeSelectionChanged(trait, code)"/>
                    <span class="variable-label pull-left">{{ code.code }}:</span>
                    <span class="variable-description">{{ code.description }}</span>
                </div>
            </div>
        </div>
        <!-- <div class="pull-right">
            <button class="btn btn-primary form-control"
                    ng-disabled="searchButton.disabled"
                    ng-click="doSearch()">{{ searchButton.text }}</button>
            <button class="btn btn-danger form-control"
                    ng-click="resetSearch()">Reset</button>
	    <span class="alert alert-danger" ng-show="errors">
	      {{ errors }}
	    </span>
        </div> -->
    </form>
</div>
