<div ng-controller="CulturalCtrl"> 
    <span class="form-inline clearfix">
        <h4 class="pull-left">Search by Cultural Trait</h4>
       <div class="pull-right">
            <button class="btn btn-primary form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="doSearch()">{{ searchButton.text }}
            </button>
            <button class="btn btn-danger form-control"
                        ng-click="resetSearch()">Reset
            </button>
            <span class="alert alert-danger" ng-show="errors">
                {{ errors }}
            </span> 
        </div>
    </span>
    <form class="form-inline" role="form" style="margin-top:20px;">
        <div class="panel panel-default" ng-repeat="trait in traits">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <select
                            ng-model="trait.selectedSource"
                            class="form-control"
                            ng-change="sourceChanged(trait)"
                            ng-options='source as (source.author + " ("+source.year+")") for source in sources'
                            >
                            <option value="">Select a Source</option>
                        </select>
                     </div>
                 </div>
                <div class="row row-margin-top" ng-show="trait.selectedSource">
                    <div class="form-group col-xs-6">
                        <select
                                ng-model="trait.selectedCategory"
                                class="form-control"
                                style="width:100%"
                                ng-change="categoryChanged(trait)"
                                ng-show="source_categories.length > 0"
                                ng-options="category.name for category in source_categories"
                                >
                            <option value="">Select a Category</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <select
                                ng-model="trait.selectedVariable"
                                class="form-control"
                                style="width:100%"
                                ng-change="traitChanged(trait)"
								ng-show="trait.indexVariables.length > 0"
                                ng-options='variable as (variable.label + " - " + variable.name) for variable in trait.indexVariables'
                                >
                            <option value="">Select a Variable</option>
                        </select>
                    </div>
                </div>
                <div ng-show="trait.codes.length > 0">Further Information: {{trait.selectedVariable.codebook_info}}</div>
            </div>
			
	
            <div class="panel-body scrollable">
                <span class="variable-label" ng-show="trait.codes.length > 1"> Select All
				<input type="checkbox" class="pull-right" ng-model="trait.codes.isSelected" ng-change="selectAllChanged(trait)" />
              </span>
				<div ng-repeat="code in trait.codes">
                    <span class="variable-label pull-left">{{ code.code }}:</span>
                    <span class="variable-description">{{ code.description }}</span>
                    <input class="pull-right" type="checkbox" ng-model="code.isSelected" ng-change="traitCodeSelectionChanged(trait)"/>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary form-control"
                    ng-disabled="searchButton.disabled"
                    ng-click="doSearch()">{{ searchButton.text }}</button>
            <button class="btn btn-danger form-control"
                    ng-click="resetSearch()">Reset</button>
	    <span class="alert alert-danger" ng-show="errors">
	      {{ errors }}
	    </span>
        </div>
    </form>
</div>
