<div ng-controller="EnvironmentalCtrl">
    <span class="form-inline clearfix">
        <h4 class="pull-left">Search by Environmental Data</h4>
       <div class="pull-right">
            <button class="btn btn-primary form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="doSearch()">{{ searchButton.text }}
            </button>
            <button class="btn btn-danger form-control"
                        ng-click="resetSearch()">Reset
            </button>
        </div>
    </span>
    <form class="form-inline" role="form" ng-submit="submit()" name="EnvironmentalForm" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">

			
                <div class="row">
                    <div class="form-group col-xs-4">
                        <select
                                ng-model="environmentalData.selectedVariable"
                                class="form-control"
                                ng-options="environmental.name for environmental in environmentalData.variables"
                                ng-change="variableChanged(environmentalData.selectedVariable)"
                                >
                            <option value="">Select an environmental variable</option>
                        </select>
                    </div>
                    <div ng-show="environmentalData.selectedVariable">
                        <div class="form-group col-xs-2">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle form-control">{{ environmentalData.selectedFilter.name }} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="environmentalFilter in environmentalData.filters">
                                        <a ng-click="environmentalData.selectedFilter = environmentalFilter; filterChanged();">{{ environmentalFilter.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fields-inrange" ng-show="environmentalData.selectedFilter.operator == 'inrange'">
                            <div class="form-group col-xs-3" ng-class="{'has-error':EnvironmentalForm.vals0inrange.$invalid && EnvironmentalForm.vals0inrange.$dirty}">
                                <div class="input-group">
                                    <input name="vals0inrange" class="form-control input-xs" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]*)$/" ng-model="environmentalData.vals[0]" required/>
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error':EnvironmentalForm.vals1inrange.$invalid && EnvironmentalForm.vals1inrange.$dirty}">
                                <div class="input-group">
                                    <input name="vals1inrange" class="form-control" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]*)$/" ng-model="environmentalData.vals[1]" required/>
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="fields-inrange" ng-show="environmentalData.selectedFilter.operator == 'outrange'">
                            <div class="form-group col-xs-3" ng-class="{'has-error':EnvironmentalForm.vals0outrange.$invalid && EnvironmentalForm.vals0outrange.$dirty}">
                                <div class="input-group">
                                    <input name="vals0outrange" class="form-control input-xs" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]*)$/" ng-model="environmentalData.vals[0]" />
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error':EnvironmentalForm.vals1outrange.$invalid && EnvironmentalForm.vals1outrange.$dirty}">
                                <div class="input-group">
                                    <input name="vals1outrange" class="form-control" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]+)$/" ng-model="environmentalData.vals[1]" />
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="fields-inrange" ng-show="environmentalData.selectedFilter.operator == 'lt'">
                            <div class="form-group col-xs-6" ng-class="{'has-error':EnvironmentalForm.valslt.$invalid && EnvironmentalForm.valslt.$dirty}">
                                <div class="input-group">
                                    <input name="valslt" class="form-control input-xs" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]*)$/" ng-model="environmentalData.vals[0]" />
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="fields-inrange" ng-show="environmentalData.selectedFilter.operator == 'gt'">
                            <div class="form-group col-xs-6" ng-class="{'has-error':EnvironmentalForm.valsgt.$invalid && EnvironmentalForm.valsgt.$dirty}">
                                <div class="input-group">
                                    <input name="valsgt" class="form-control" ng-pattern="/^(0|\-?[1-9][0-9]*\.?[0-9]+)$/" ng-model="environmentalData.vals[0]" />
                                    <span class="input-group-addon">{{ environmentalData.selectedVariable.units }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="fields-inrange" ng-show="environmentalData.selectedFilter.operator == 'all'">
                            <div class="form-group col-xs-3" ng-class="{'has-error': EnvironmentalForm.vals0all.$invalid && EnvironmentalForm.vals0all.$dirty}">
                                <div class="input-group">
                                    <input name="vals0all" class="form-control input-xs" ng-readonly="true" ng-model="environmentalData.vals[0]" />
                                    <span class="input-group-addon"> {{ environmentalData.selectedVariable.units }} </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error': EnvironmentalForm.vals0all.$invalid && EnvironmentalForm.vals1all.$dirty}">
                                <div class="input-group">
                                    <input name="vals1all" class="form-control input-xs" ng-readonly="true" ng-model="environmentalData.vals[1]" />
                                    <span class="input-group-addon"> {{ environmentalData.selectedVariable.units }} </span>
                                </div>
                            </div>           
                        </div>
                    </div>
                </div>
                <div ng-show="environmentalData.selectedVariable">Further information: {{ environmentalData.selectedVariable.codebook_info }}</div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary form-control"
                    ng-disabled="searchButton.disabled"
                    ng-click="doSearch()">{{ searchButton.text }}</button>
            <button class="btn btn-danger form-control"
                    ng-click="resetSearch()">Reset</button>
       <span class="alert alert-danger" ng-show="errors">
	      {{ errors }}
	    </span> 
		</div>
    </form>
</div>