<div ng-controller="GeographicCtrl">
    <h4>Search by Geographic Region</h4>
    <form class="form form-inline" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <input type="text"
                       ng-model="geographic_region"
                       typeahead="region for region in regions | filter:$viewValue | limitTo: 8"
                       class="form-control"
                       style="width:100%"
                       placeholder="Enter a geographic region">
            </div>
            <div class="panel-body scrollable">
                <div><i>Clickable map regions here</i></div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary form-control"
                    ng-disabled="true"
                    ng-click="doSearch()">{{ searchButton.text }} (not yet functional)</button>
        </div>
    </form>
</div>
