<div ng-controller="LanguageCtrl"> 
    <span class="form-inline clearfix">
        <h4 class="pull-left">Search by Language Family</h4>
        <div class="pull-right">
            <button class="btn btn-primary form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="doSearch()">{{ searchButton.text }}
            </button>
            <button class="btn btn-danger form-control"
                        ng-click="resetSearch()">Reset
            </button>
            <span class="alert alert-danger" ng-show="errors">
                {{ errors }}
            </span> 
        </div>
    </span>
    <form class="form-inline" role="form">
        <div class="panel panel-default" ng-repeat="languageFilter in languageClassifications.languageFilters">
            <div class="panel-heading">
                <div class="row">
                    <div ng-repeat="levelObject in languageClassifications.levels"
                         class="form-group col-xs-4">
                        <select
                                ng-model="languageFilter[levelObject.level - 1].selectedItem"
                                class="form-control"
                                style="width:100%"
                                ng-show="languageFilter[levelObject.level - 1].items.length > 0"
								ng-change="selectionChanged(languageFilter,levelObject)"
                                ng-options="item.name + ' (' + item.language_count + ')' for item in languageFilter[levelObject.level - 1].items"
                                >
                            <option value="">{{ levelObject.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body scrollable">
				<span class="variable-label"  ng-show="languageFilter.classifications.length > 1">Select All<input type="checkbox" class="pull-right" ng-model="languageFilter.classifications.id.isSelected" ng-change="selectAllChanged(languageFilter)" />
					</span>
                <div ng-repeat="classification in languageFilter.classifications">
                    <span class="language-label">{{ classification.language.name }}</span>
                    <input class="pull-right" type="checkbox" ng-model="classification.isSelected" ng-change="classificationSelectionChanged(classification)">
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary form-control"
                    ng-disabled="searchButton.disabled"
                    ng-click="doSearch()">{{ searchButton.text }}</button>
            <button class="btn btn-danger form-control"
                    ng-click="resetSearch()">Reset</button>
	    <span class="alert alert-danger" ng-show="errors">
	      {{ errors }}
	    </span>
        </div>
    </form>
</div>
