<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Search by Language Trait – D-PLACE';
    });
</script>

<div ng-controller="LanguageCtrl"> 
    <span class="form-inline clearfix">
        <h4 class="pull-left">Search by Language Family </h4>
        <div class="pull-right">
            <button class="btn btn-primary form-control"
                        ng-disabled="searchButton.disabled"
                        ng-click="doSearch()">{{ searchButton.text }}
            </button>
            <button class="btn btn-danger form-control"
                        ng-click="resetSearch()">Reset
            </button>
            <span class="alert alert-danger" ng-show="errors">
                {{ errors }}
            </span> 
        </div>
    </span>
    <form class="form-inline" role="form" style="margin-top:20px;">
        <div class="panel panel-default" ng-repeat="scheme in families">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <select
                                ng-model="scheme.selectedFamily"
                                class="form-control"
                                style="width:100%"
								ng-change="selectionChanged(scheme)"
                                ng-options="item.name + ' (' + item.language_count + ' societies)' for item in scheme"
                                >
                            <option value="">Select a Language Family</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body scrollable">
				<span class="variable-label"  ng-show="scheme.languages.length > 1">Select All<input type="checkbox" class="pull-left" ng-model="scheme.languages.allSelected" ng-change="selectAllChanged(scheme)" />
					</span>
                <div ng-repeat="language in scheme.languages">
                    <input class="pull-left" type="checkbox" ng-model="language.isSelected" ng-change="classificationSelectionChanged()">
                    <span class="language-label">{{ language.name }} ({{language.count}} societies)</span>
                </div>
            </div>
        </div>
        <!-- <div class="pull-right">
            <button class="btn btn-primary form-control"
                    ng-disabled="searchButton.disabled"
                    ng-click="doSearch()">{{ searchButton.text }}</button>
            <button class="btn btn-danger form-control"
                    ng-click="resetSearch()">Reset</button>
        <span class="alert alert-danger" ng-show="errors">
          {{ errors }}
        </span>
        </div> -->
    </form>
</div>
