{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extra_head %}
    <!-- AngularJS -->
    <script type="text/javascript" src="{% static "bower_components/angular/angular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/angular-resource/angular-resource.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/angular-route/angular-route.min.js" %}"></script>
    <!-- Angular app script -->
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <!-- Angular Controllers -->
    <script type="text/javascript" src="{% static "js/controllers/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/search.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/societies.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/about.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/search/cultural.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/search/geographic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/search/environmental.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controllers/search/language.js" %}"></script>

    <!-- Angular Models -->
    <script type="text/javascript" src="{% static "js/models.js" %}"></script>
    <!-- Angular Services -->
    <script type="text/javascript" src="{% static "js/colorMapService.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchModelService.js" %}"></script>
    <script type="text/javascript" src="{% static "js/services.js" %}"></script>
    <!-- Angular Filters -->
    <script type="text/javascript" src="{% static "js/filters.js" %}"></script>
    <!-- Angular Directives -->
    <script type="text/javascript" src="{% static "js/directives.js" %}"></script>
    <!-- Angular UI Bootstrap -->
    <script type="text/javascript" src="{% static "bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js" %}"></script>
    <!-- jVectorMap -->
    <script type="text/javascript" src="{% static "bower_components/jvectormap/jquery.jvectormap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/tdwg-level2-map.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/newick.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/d3/d3.min.js" %}"></script>
    <link href="{% static "bower_components/jvectormap/jquery-jvectormap.css" %}" media="screen" rel="stylesheet" />

{% endblock %}
{% load bootstrap3 %}
{% block content %}
{% verbatim %}
    <!-- angular stuff here -->
    <div ng-controller="AppCtrl">
        <ng-include src="'/static/partials/navbar.html'"></ng-include>
		<div ng-view></div>
	</div>
{% endverbatim %}
{% endblock %}
