<!DOCTYPE html>
{% load url from future %}
{% load static from staticfiles %}
<html lang="en" ng-app="dplace">
<head>
    <meta charset="utf-8">
    <title>D-PLACE</title>
    <meta name="description" content="D-PLACE: Database of Places, Language, Culture and Environment">
    <meta name="author" content="D-PLACE-Consortium">
    <meta name="keywords" content="D-PLACE, Language Phylogeny, Cultural Phylogeny, Cultural Evolution">
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" media="screen" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dplace.css" %}">
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>