{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% block content %}

<div class="container" style="margin-top:-150px;">
<h1><span onclick="window.history.back()" style="cursor:pointer;"><img height="60px" title="Go back" src="{% static "images/D-PLACE_Logo.png" %}"></span>Search Results: {{ query }}</h1>

{% if results %}
<table class="table">
<tr>
    <th>Dataset</th>
    <th>Name (Society ID)</th>
    <th>Alternate Names</th>
</tr>

{% for society in results %}
<tr>
    <td> {{ society.source.name }}</td>
    <td> <a href="/society/{{ society.ext_id}}" target="_blank">{{society.name }} ({{society.ext_id}})</a></td>
    <td> {{ society.alternate_names }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if not results %}
<div>
    <p style="margin:20px;">
        <strong>No society was found</strong><br />
        based on societies mentioned within<br />
        “The Ethnographic Atlas” and “Binford Hunter-Gatherer” datasets.
        <br />
        <i>See also <a href="/source">Data Sources</a></i>
        <br /><br />
        <button onclick="window.history.back()" class="btn btn-info" style="padding:4px">Go back</button>
    </p>
</div>
{% endif %}
</div>
{% endblock %}
