{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    {% if language %}
        <h1>Language {{ language.name }} from {{ society.name }}</h1>
    {% else %}
        <h1>Society: {{ society.name }}</h1>
    {% endif %}
    <h2>Environmental Data</h2>
    {% for environmental in environmentals %}
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
        {% for value in environmental.values.all %}
            <tr>
                <td>{{ value.variable.name }}</td>
                <td>{{ value.value }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
    <h2>Cultural Trait Data</h2>
    <table class="table table-condensed table-striped table-bordered">
    <tr>
        <th colspan="2">Variable</th>
        <th colspan="2">Value</th>
    </tr>
    <tr>
        <th>Label</th>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
    </tr>
    {% for cultural_trait in cultural_traits %}
        <tr>
        <td>{{ cultural_trait.label }}</td>
        <td>{{ cultural_trait.name }}</td>
        <td>{{ cultural_trait.code }}</td>
        <td>{{ cultural_trait.description }}</td>
        </tr>

    {% endfor %}

    </table>

</div>
{% endblock %}
