<div class="row" style="padding-bottom:10px;">
    <h4 ng-show="variables.length > 0">Choose a variable:</h4>
    <select 
        ng-model="results.chosenVariable"
        class="form-control"
        ng-options="variable.name for variable in variables"
        ng-init="results.chosenVariable=variables[0]"
        ng-show="variables.length > 0"
     >
     </select>
 </div>
<div class="download-links">
   <button ng-show="results.searched" ng-click="constructMapDownload()" class="btn btn-info btn-dplace-download">Download Map</button>
</div>
<dplace-map results="results" map-div-id="result-map" visible="visible" query="query" chosen="results.chosenVariable"></dplace-map>
<table class="map-legend" ng-show="results.chosenVariable.data_type !== 'Continuous'" ng-repeat="variable in results.variable_descriptions" ng-if="variable.variable.id==results.chosenVariable.id">
  
    <tr ng-repeat="code in variable.codes">
        <td>
            <svg height="20" width="20">
                <circle
                        cx="10"
                        cy="10"
                        r="4.5"
                        fill="{{code.code|colorNode:variable.codes}}"
                        stroke="#000"
                        stroke-width="0.5"
                        />
                </svg>                               
        </td>
        <td>{{code.short_description}}</td>
    </tr>
    </table>
    <table class="map-legend">
    <tr ng-show="(results.chosenVariable && (results.chosenVariable==results.environmental_variables[0]))">
        <td class = "env-legend-td">
            <svg height="50" width="400" class="envLegend">
                <rect class="envVar" height="30" width="300" x="20" />
                <text x="0" y="45">{{results.environmental_variables[0].min}} {{results.environmental_variables[0].units}}</text>
                <text x="300" y="45">{{results.environmental_variables[0].max}} {{results.environmental_variables[0].units}}</text>
          </svg>
        </td>
    </tr>
    <tr ng-show="results.chosenVariable.data_type == 'Continuous'">
        <td class="cont-gradient-td">
            <svg height="100" width="400">
                <circle
                        cx="10"
                        cy="13"
                        r="4.5"
                        fill="hsl(360, 100%, 100%)"
                        stroke="#000"
                        stroke-width="0.5"
                        />
                    <text x="20" y="18">Missing Data</text>

                <rect x="10" y="25" fill="url(#grad1)" height="30" width="300" />
                <text x="0" y="70">{{results.chosenVariable.min}} {{results.chosenVariable.units}}</text>
                <text x="300" y="70">{{results.chosenVariable.max}} {{results.chosenVariable.units}}</text>
                </svg>
            </td>
   </tr>
    </table>
    <table class="map-legend">
    <tr ng-repeat="code in results.classifications">
        <td>
            <svg height="20" width="20">
                <circle
                        cx="10"
                        cy="10"
                        r="4.5"
                        fill="{{code.id|colorNode:results.classifications}}"
                        stroke="#000"
                        stroke-width="0.5"
                        />
                </svg>
        </td>
        <td>{{code.name}}</td>
    </tr>
</table>
<table class="map-legend">
    <tr ng-repeat="region in results.geographic_regions">
        <td>
            <svg height="20" width="20">
                <circle
                        cx="10"
                        cy="10"
                        r="4.5"
                        fill="{{region.tdwg_code|colorNode:results.geographic_regions}}"
                        stroke="#000"
                        stroke-width="0.5"
                        />
                </svg>
        </td>
        <td>{{region.region_nam}}</td>
    </tr>
</table>

<div class="legend-for-download" style="visibility:hidden;">
</div>