<div class="container">
                <div class="row text-center">
                    <div class="btn-group">
                        <button ng-repeat="button in buttons"
                                type="button" class="btn btn-lg btn-default btn-dplace-search"
                                ng-model="results.selectedButton"
                                ng-click="buttonChanged(button.value)"
                                btn-radio="button"
                                tooltip="{{button.description}}"
                                >{{ button.name }}
                            </button>
                    </div>
                </div>
            </div>
            <div ng-show="results.selectedButton">
            <select
                ng-model="results.selectedTree"
                class="form-control"
                style="width:100%"
                ng-change="treeSelected()"
                ng-options="tree.name for tree in trees"
                ng-show="!globalTree"
                >
                <option value="">Select a Tree</option>
            </select>
            <div class="tree-download"></div>
            <div id="legend" ng-show="results.selectedTree">
                <table ng-repeat="(id, code) in results.code_ids">
                    <tr ng-show="!globalTree" data-toggle="collapse" data-target="#{{code.CID}}" class="accordion-toggle legends" style="cursor:pointer;"><th>{{code.CID}}: {{code.name}}</th></tr>
                    <tr>
                        <td class="hiddenRow">
                            <div ng-class="{'accordion-body collapse':!globalTree}" ng-hide="showOrHide(results.chosenTVariable.id, id)" id="{{code.CID}}">
                                <svg ng-show="!code.bf_var" height="{{code.svgSize}}" width="600" class="tree-legend bf{{code.bf_var}} legends" var-id="{{id}}">
                                    <g ng-repeat="c in code" transform="{{$index|transformG}}">
                                        <circle
                                                cx="10"
                                                cy="10"
                                                r="4.5"
                                                fill="{{c.code|colorNode:code}}"
                                                stroke="#000"
                                                stroke-width="0.5"
                                                />
                                        <text x="20" y="15">{{c.description}}</text>
                                    </g>
                                </svg>
                                <svg ng-show="code.bf_var" class="bf-cont-gradient legends" height="80" height="30" var-id="{{id}}">
                                    <defs>
                                        <linearGradient id="g{{code.CID}}" x1="0%" y1="0%" x2="100%" y2="0%">
                                            <stop offset="0%" style="stop-color:hsl(0, 65%, 95%);stop-opacity:1" />
                                            <stop offset="50%" style="stop-color:hsl(0, 65%, 50%);stop-opacity:1" />
                                            <stop offset="100%" style="stop-color:hsl(0, 65%, 22%);stop-opacity:1" />
                                        </linearGradient>
                                    </defs>
                                    <circle
                                            cx="10"
                                            cy="10"
                                            r="4.5"
                                            fill="hsl(360, 100%, 100%)"
                                            stroke="#000"
                                            stroke-width="0.5"
                                            />
                                        <text x="20" y="15">Missing Data</text>
                                    <rect x="10" y="25" fill="url(#g{{code.CID}})" height="30" width="300" />
                                    <text x="0" y="70">{{code.min}} {{code.units}}</text>
                                    <text x="300" y="70">{{code.max}} {{code.units}}</text>
                                </svg>
                                
                              </div>
                        </td>
                    </tr>
                </table>

                <table ng-repeat="environmental in results.environmental_variables">
                    <tr data-toggle="collapse" data-target="#E1" class="accordion-toggle" style="cursor:pointer;"><th>E1: {{environmental.name}}</th></tr>
                    <tr><td class="hiddenRow">
                    <div class="accordion-body collapse" id="E1">
                        <svg height="50" width="400" class="envLegend">
                            <rect class="envVar" height="30" width="300" x="20" />
                            <text x="0" y="45">{{environmental.min}} {{environmental.units}}</text>
                            <text x="300" y="45">{{environmental.max}} {{environmental.units}}</text>
                            </td></tr>
                      </svg>
                      </div>
                </table>
                <table ng-show="results.classifications">
                    <tr style="cursor:pointer;"><th colspan="2">Language Classifications</th></tr>
                    <tr>
                        <td class="">
                            <div>
                                <svg height="100" class="tree-legend-langs legends">
                                    <g ng-repeat="classification in results.classifications|joinDictItems" transform="{{$index|transformG}}">
                                        <circle
                                                cx="10"
                                                cy="10"
                                                r="4.5"
                                                fill="{{classification.id|colorNode:(results.classifications|joinDictItems)}}"
                                                stroke="#000"
                                                stroke-width="0.5"
                                                />
                                        
                                        <text x="20" y="15">{{classification.name}}</text>
                                    </g>
                                </svg>
                              </div>
                        </td>
                    </tr>
                </table>
            </div>
                <div ng-show="globalTree && variables.length > 0">
                <h5>Choose a variable:</h4>
                <select 
                    ng-model="results.chosenTVariable"
                    class="form-control"
                    ng-options="variable.name for variable in variables"
                    ng-init="results.chosenTVariable=variables[0]"
                    style="width:auto;"
                 >
                 </select>  
                 Double click the tree or scroll to zoom.
             </div>

            <language-phylogeny>
            <p>Note: trees have been pruned to display only societies present in D-PLACE.</p>
            <h4>{{results.selectedTree.name}}</h4>
            </language-phylogeny>
            </div>